.content-wrapper {
    background-color: white;
}

#downloadData:hover {
  background-color: #ddd;
}

.btn-myClass {
    background-color: #f4f4f4 !important;
    color: #444 !important;
    border-color: #ddd !important;
}

h2 {
  font-size: 25px;
  background-color: #3c8dbc;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

.widget-user {
  box-shadow: 0px !important;
}


#pipExplo table {
  white-space: nowrap;

}

input:disabled {
  background: white !important;
  border: white 0px solid !important;
  width: 0px !important;
  display: none !important;
}

